{% extends 'movieworld/base.html' %}
{% block content %}

<br><h2>Directors<a href="{% url 'director_create' %}"> (add)</a></h2>

{% for director in directors %}
  
  <h3>
    <a href="{% url 'director_detail' pk=director.id %}">
      <img src="{{ director.photo_url }}" alt="" class="director-photo" style="float: left; overflow: auto; padding-right: 5px; height: 30px; width: 30px"/>
        {{ director.director_name }}
    </a>
  </h3>
{% endfor %}

<!-- <h3>Movies <a href="{% 'director_update' pk=director.pk %">(+)</a></h3> -->
<!-- <ul>
  {% for song in director.movies.all %}
    <li>
      <a href="{% url 'movie_detail' pk=movie.pk %}">
        {{ movie.title }}-{{ movie.album }}
      </a>
    </li>
  {% endfor %}

</ul> -->
{% endblock %}